<html lang="en">
<%- include('partials/head') %>

<%- include('partials/header') %>

    <main class="detalle-producto-main">
        <h2>Edición de producto</h2>
        <form action="/carta/producto/<%=producto.id%>?_method=PUT" method="POST">
            <p><label for="productoNombre">Producto</label>
            <input type="text" name="productoNombre" value="<%=producto.nombre%>">
            </p>
            <p><label for="productoPrecio">Precio</label>
            <input type="number" name="productoPrecio" value="<%=producto.precio%>">
            </p>
            <button type="submit">Editar producto</button>
            
        </form>
    </main> 

</body>
</html>