<html lang="en">
<%- include('partials/head') %>

<%- include('partials/header') %>

    <main class="detalle-mesa-main">
        <h2>Mesa <%= mesaActual.id %></h2>
        <div class="detalle-mesa-contenedor">
            <section class="detalle-mesa-pedidos-agregar">
                <form action="/mesas/<%= mesaActual.id%>" method="POST">

                    <label for="categoria">Agregar Producto</label>
                    <p><select name="categoria" id="categoriaSelect" required>
                        <option value="">Selecciona la categoria</option>
                        <% if (locals.categorias) { %>
                            <%categorias.forEach(function(categoria){%>
                                <option value="<%=categoria.id%>"><%=categoria.nombre%></option>
                            <% }) %>
                        <% } %>
                    </select></p>
                    <table id="productosList">
                        <!-- Acá se agregan dinamicamente las opciones de producto de c/categoria -->
                    </table>
                    <button type="submit">Agregar pedido</button>
                </form>
            </section>
            <section class="detalle-mesa-pedidos">
                <form action="">
                    <table id="pedido">
                        <thead>
                            <tr>
                                <th>Productos</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let totalMesa = 0; %>
                            <% mesaActual.pedidos.forEach((productoPedido, i)=>{ %>
                                
                            </tr>
                                    <% producto = productos.find((producto) => producto.id == productoPedido.id) %>
                                    <td><%= producto.nombre %></td>
                                    <td class="cantidad-productos"><button>-</button><%= productoPedido.cantidad %><button>-</button></td>
                                    <input type="hidden" name="<% i %>" value="<%= productoPedido.cantidad %>">
                                    <td><%= productoPedido.precio * productoPedido.cantidad %></td>
                                </tr>
                                <% totalMesa = totalMesa + (productoPedido.precio * productoPedido.cantidad); %>
                        <%  }) %>
                                <tr>
                                    <td></td>
                                    <td>Total Mesa: </td>
                                    <td><%= totalMesa %></td>  
                                </tr>
                        </tbody>
                    </table>
                </form>

            </section>
        </div>
        
    </main> 
    <script>
        const categorias = <%- JSON.stringify(categorias) %>;
        const productos = <%- JSON.stringify(productos) %>

    </script>

    <script src="/js/detalleMesa.js"></script>
</body>
</html>